@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bgimg {
  background: url(./assets/images/lagosagro8.jpg) center/cover;
  filter: brightness(60%);
  z-index: 10;
  position: relative;
  height: 20rem;
  background-attachment: fixed;
}
.travelimg {
  background: url(./assets/images/train-3.jpg) center/cover;
  filter: brightness(60%);
  z-index: 10;
  position: relative;
  height: 20rem;
  background-attachment: fixed;
}
.medicimg {
  background: url(./assets/images/ambulance.jpg) center/cover;
  filter: brightness(60%);
  z-index: 10;
  position: relative;
  height: 20rem;
  background-attachment: fixed;
}
.eduimg {
  background: url(./assets/images/school-bus.jpg) center/cover;
  filter: brightness(60%);
  z-index: 10;
  position: relative;
  height: 20rem;
  background-attachment: fixed;
}